Source: huayra-compartir-api
Section: utils
Priority: extra
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Build-Depends: debhelper (>= 8.0.0), npm
Standards-Version: 3.9.3
Homepage: https://github.com/HuayraLinux/huayra-compartir-api
Vcs-Git: https://github.com/HuayraLinux/huayra-compartir-api

Package: huayra-compartir-api
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Permite compartir archivos en una red local.
 Huayra-compartir permite intercambiar archivos y notificaciones
 dentro del aula.
